*{
    margin: 0;
    padding: 5;
    box-sizing: border-box;
}

.boy {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1; 
        height: 100%;
        width: 100%;
}

.freddy {
    width: 500px;
    height: 500px; /* si la imagen no tiene una altura de 500px, puedes ajustarla aquí */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border-radius: 50%;

}

.description{
    background: transparent;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    font-family: 'Tilt Warp', sans-serif;
    width: 300px;
    height: 500px;
    color: white;
    font-size: 20px;
}

.kek{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    font-family: 'Tilt Warp', sans-serif;
    width: 300px;
    height: 500px;
    color: white;
    font-size: 20px;
}

#kepler90f{
    box-shadow: 0 0 10px rgb(55, 47, 0),
    0 0 30px rgb(55, 47, 0),
    0 0 50px rgb(55, 47, 0),
    0 0 70px rgb(55, 47, 0);
}

.xlr8{
    background: transparent;
}

#regresar {
    z-index: 5;
    position: absolute;
    top: 90%;
    left: 50%;
}